<section class="container">
  <h2 class="section__title">Entre em contato</h2>
  <div class="contact-container">
    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendForm()">
      <input type="text"
        placeholder="Digite seu nome" 
        formControlName="name"
        [class.invalid]="contactForm.controls['name'].invalid && contactForm.controls['name'].touched"
      />
      <div *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched">
        <small class="error-message" *ngIf="contactForm.controls['name'].hasError('minlength')">
          O campo precisa ter no mínimo 4 caracteres
        </small>
        <small class="error-message" *ngIf="contactForm.controls['name'].hasError('required')">
          O campo precisa ser preenchido
        </small>
      </div>
      <input type="text" 
        placeholder="Digite aqui o assunto"
        formControlName="subject"
        [class.invalid]="contactForm.controls['subject'].invalid && contactForm.controls['subject'].touched"
      />
      <div *ngIf="contactForm.controls['subject'].invalid && contactForm.controls['subject'].touched">
        <small class="error-message" *ngIf="contactForm.controls['subject'].hasError('minlength')">
          O campo precisa ter no mínimo 10 caracteres
        </small>
        <small class="error-message" *ngIf="contactForm.controls['subject'].hasError('required')">
          O campo precisa ser preenchido
        </small>
      </div>
      <input type="email" 
        placeholder="Digite seu email"
        formControlName="email"
        [class.invalid]="contactForm.controls['email'].invalid && contactForm.controls['email'].touched"
      />
      <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
        <small class="error-message" *ngIf="contactForm.controls['email'].hasError('email')">
          O campo precisa ser um email válido
        </small>
        <small class="error-message" *ngIf="contactForm.controls['email'].hasError('required')">
          O campo precisa ser preenchido
        </small>
      </div>
      <input type="tel" 
        placeholder="(00) 00000-0000"
        formControlName="tel"
        [class.invalid]="contactForm.controls['tel'].invalid && contactForm.controls['tel'].touched"
      />
      <div *ngIf="contactForm.controls['tel'].invalid && contactForm.controls['tel'].touched">
        <small class="error-message" *ngIf="contactForm.controls['tel'].hasError('minlength')">
          O campo precisa ter no mínimo 11 caracteres
        </small>
        <small class="error-message" *ngIf="contactForm.controls['tel'].hasError('required')">
          O campo precisa ser preenchido
        </small>
      </div>
      <textarea cols="30" rows="5" maxlength="300" 
        placeholder="Digite sua mensagem"
        formControlName="message"
        [class.invalid]="contactForm.controls['message'].invalid && contactForm.controls['message'].touched"
      ></textarea>
      <div *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].touched">
        <small class="error-message" *ngIf="contactForm.controls['message'].hasError('minlength')">
          O campo precisa ter no mínimo 20 caracteres
        </small>
        <small class="error-message" *ngIf="contactForm.controls['message'].hasError('required')">
          O campo precisa ser preenchido
        </small>
      </div>
      <button type="submit" class="submit-button" [disabled]="contactForm.invalid">Enviar</button>
    </form>
    <address class="contact-address">
      <iframe class="contact-address__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21940.342121990205!2d-38.53617365334185!3d-3.7383812165748527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c7490e54ee0451%3A0xdab9267e19ce3836!2sShopping%20Benfica!5e0!3m2!1spt-BR!2sbr!4v1680055343257!5m2!1spt-BR!2sbr" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
  </div>
</section>
