<header class="main-header">
  <h1 class="main-header__title">
    <span> Computers</span><span>Store</span>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li><a>Produtos</a></li>
        <li>
          <a>
            Carrinho
            <span class="main-header__menu--cart">{{cartService.getCart().length}}</span>
          </a>
        </li>
        <li><a>Contato</a></li>
        <li><a>Instagram</a></li>
        <li><a>Facebook</a></li>
      </ul>
    </nav>
    <form action="" class="search-form">
      <input type="text" placeholder="Procurar produto">
      <button title="Procurar">🔎️</button>
    </form>
  </div>
</header>
