<footer class="footer">
  <div class="footer__container container">
    <section class="footer__about">
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus facilisis nibh eget congue. Sed placerat mattis lorem, eu accumsan quam. Fusce consequat viverra orci, nec tempus diam volutpat nec. Duis sed ex eget turpis ornare luctus in at leo. Nulla sed bibendum enim. Proin id mauris sed eros faucibus pharetra. Integer vitae lectus lectus.
      </p>
    </section>
    <address class="footer__contact-info">
      <h2 class="footer__title">Contato</h2>
      <ul class="footer__contact-info__list">
        <li>Email email@email.com</li>
        <li>Telefone (00) 0000-0000</li>
        <li>Whatsapp (00) 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright container">
    Desenvolvido por Joice Gomes © 2023
  </section>
</footer>