<section class="product__container container">
  <div class="product-image__container">
    <img class="product__image" [src]="product?.imageURL" alt="">
  </div>
  <div class="product-details__container">
    <h2 class="product__name">{{product?.name}}</h2>
    <h3 class="product__price">{{product?.price | currency: "BRL"}}</h3>
    <p class="product__price-description">{{product?.description}}</p>
    <p [ngClass]="product?.stock == 0 ? 'product__not-available':'product__available'">{{product?.stock == 0 ? 'Esgotado':'Estoque disponível: ' + product?.stock + ' unidade(s)'}}</p>
    <label class="product__amount">
      Quantidade: <input type="number" [(ngModel)]="productQuantity" min="1" [max]="product?.stock || null">
    </label>
    <button class="product__buy-button" [disabled]="product?.stock == 0" (click)="addToCart()">Adicionar ao carrinho</button>
  </div>
</section>