.footer__container {
  background-color: var(--brand-color-3);
  color: var(--text-color-light);
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.footer__title {
  color: var(--brand-color-1);
  font-weight: bold;
}

.footer__copyright {
  background-color: var(--brand-color-1);
  text-align: center;
}

@media screen and (min-width: 0) {
  .footer__container {
    flex-direction: column-reverse;
  }
  
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }

  .footer__about {
    width: 70%;
  }
}