<header class="main-header container">
  <h1 class="main-header__title">
    <a routerLink="products"><span>Computers</span><span>Store</span></a>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li><a class="main-header__menu__link" routerLink="products">Produtos</a></li>
        <li>
          <a class="main-header__menu__link" routerLink="cart">
            Carrinho
            <span class="main-header__menu--cart-badge" *ngIf="cartService.getCart().length > 0">{{cartService.getCart().length}}</span>
          </a>
        </li>
        <li><a class="main-header__menu__link" routerLink="contact">Contato</a></li>
      </ul>
    </nav>
    <app-search-bar></app-search-bar>
  </div>
</header>
